body {
    background-image: url(/img/fitito.jpg);
    background-repeat: repeat-y;
    margin: 5px;
  }
  header{
    
    padding: 0;
  
  }
  header img{
    margin: auto;
    box-shadow: 0 0 20px white;
  }
  header h1{
    color: white;
    background-color: black;
    font-size: 3em;
    font-style: italic;
    display: inline-block;
    position:absolute;
    font-family: "Tourney", cursive;
    margin-block-end: 1%;
    margin-block-start: 3%;
    margin-left: 10%;
  }
  header h1:hover{
    transform: transform 0.3s;
    color: red;
    text-shadow: 5px 5px 10px white ;
  
  }
   
  nav{
    background-color: black;
    margin-bottom: 0.1em;
    box-shadow: 10px 5px 15px gray;
    
  
  }
  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 10px;
    
  }
  nav ul li{
    
    width: 19.5%;
    
  
  }
  nav ul li a{
    color: yellow;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 20px;
  
  }
  nav ul li a:hover{
    background-color: yellow;
    color: black;
  }
  
  a {
    font-size: 25px;
    font-family: "Permanent Marker", cursive;
    color: rgb(209, 209, 4);
    background-color: rgba(0, 0, 0, 0.836);
  }
  
  
#formulario{ 
    width: fit-content;
    background-color: lightyellow;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem ;
    float: left;
    margin-left: 5% ;
    margin-top: 1%;
    padding: 10px;
}

  section{
    background-color: lightyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 5% ;
    width: fit-content;
    padding: 5px;
}

.mapa{
    border: black solid 10px ;
    border-radius: 10px;
    float: right;
    margin-right: 10% ;
}
.facebook {
    margin-left: 230px;
    display: inline;
    padding: 5px;
  }
  .IG {
    display: inline;
    margin-left: 300px;
    padding: 5px;
  }
  footer{
  
    margin-top: 2em;
    padding: 3em 0;
    text-align: center;
    background-color: black;
    clear: both;
  }
  footer p {
    color: white ;
   
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  