body {
  background-image: url(/img/fitito.jpg);
  background-repeat: repeat-y;
  margin: 5px;
}
body img {

  margin: auto;
}
header{
  
  padding: 0;

}
header img{
  margin: 0;
  box-shadow: 0 0 20px white;
}




nav{
  background-color: black;
  margin-bottom: 0.1em;
  box-shadow: 10px 5px 15px gray;
  

}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 10px;
  
}
nav ul li{
  
  width: 19.5%;
  

}
nav ul li a{
  color: yellow;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 20px;

}
nav ul li a:hover{
  background-color: yellow;
  color: black;
}

a {
  
  font-size: 10px;
  font-family: "Permanent Marker", cursive;
  color: rgb(209, 209, 4);
  background-color: rgba(0, 0, 0, 0.836);
}


section{
  
	margin: auto ;
	width: 90%;
}

section h4 {
  background-color: rgba(0, 0, 0, 0.774);
  font-size: 25px;
  color: rgb(255, 230, 0);
  font-family: "Rock Salt";
  text-align: center;
}

section p {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
 
  font-size: 25px;
  opacity: 0.8;
  margin: 10px;
 
}
.izquierda{
  float: left;
  width: 5%;
}


#servicios {
  width: 90%;
  text-align: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 25px;
  background-color: black;
  opacity: 0.8;
  margin: auto;
}
#servicios li {
  padding: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transform: scale(0.9);
}
#servicios li:hover {
  -webkit-transform: scale(1.1);
  transition: transform 0.3s;
  color: red;
}
.facebook {
  margin-left: 230px;
  display: inline;
  padding: 5px;
}
.IG {
  display: inline;
  margin-left: 300px;
  padding: 5px;
}

footer{
  
  margin-top: 2em;
  padding: 3em 0;
  text-align: center;
  background-color: black;
  clear: both;
}
footer p {
  color: white ;
 
  font-size:medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


