body{
    background-image: url(/img/fitito.jpg);
    background-repeat: repeat-y;
    margin: 0px; 
 
}
header{
    background-color: rgba(0, 0, 0, 0.774);
    padding: 1em 0;
  }
  header img{
    margin-left: 10px;
    box-shadow: 0 0 20px white;
  }
  header h1{
    color: white;
    background-color: black;
    font-size: 3em;
    font-style: italic;
    font-weight: 200;
    display: inline-block;
    position: relative;
    bottom: 30px;
    margin-left: 0.5em;
    font-family: "Tourney", cursive;
  }
  header h1:hover{
    transform: transform 0.3s;
    color: red;
    text-shadow: 5px 5px 10px white ;
  
  }
nav{
  background-color: black;
  margin-bottom: 0.1em;
  box-shadow: 10px 5px 15px gray;
  

}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 10px;
  
}
nav ul li{
  
  width: 19.5%;
  

}
nav ul li a{
  color: yellow;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 20px;

}
nav ul li a:hover{
  background-color: yellow;
  color: black;
}

a {
  
  font-size: 10px;
  font-family: "Permanent Marker", cursive;
  color: rgb(209, 209, 4);
  background-color: rgba(0, 0, 0, 0.836);
}

section{
    width: 91%;
/*   border-top: 1px dashed yellow;*/
    margin: 5px auto;
}
.contenedor{
	background-color: rgba(24, 24, 24, 0.801);
	height: fit-content;
	display: inline-flex;
	flex-wrap: wrap;  
    justify-content: space-evenly;   
    width: 95%;
    margin: 3%;
}

.item{
	background-color: rgba(234, 255, 46, 0.719);
	width: fit-content;
    height: 200px;
	margin: 10px;
	font-size: 20px;
    border-radius: 10px;
    
}
.item img{
    transition: transform 0.3s ;
    transform: scale(0.80);
}
.item img:hover{
    transform: scale(1.1);
    border-radius: 20px;

}

.video{
    background-color: rgba(234, 255, 46, 0.719);
	margin: 10px;
	font-size: 20px;
    border-radius: 10px; 
    width: fit-content;
    height: 200px;
    transform: scale(0.8);
    transition: transform 0.3s ;
}
.video:hover{
    transform: scale(1.1);
}
