body {
  background-image: url(/img/fitito.jpg);
  background-repeat: repeat-y;
  margin: 0px;
  font-family: "Permanent Marker", cursive;
   
}
  
  header{
    background-color: rgba(0, 0, 0, 0.774);
    padding: 1em 0;
  }
  header img{
    margin-left: 10px;
    box-shadow: 0 0 20px white;
  }
  header h1{
    color: white;
    background-color: black;
    font-size: 3em;
    font-style: italic;
    font-weight: 200;
    display: inline-block;
    position: relative;
    bottom: 30px;
    margin-left: 0.5em;
    font-family: "Tourney", cursive;
  }
  header h1:hover{
    transform: transform 0.3s;
    color: red;
    text-shadow: 5px 5px 10px white ;
  
  }
  nav{
    background-color: black;
    margin-bottom: 2em;
    box-shadow: 10px 5px 15px gray;
  }
  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li{
    display: inline-block;
    width: 19.5%;
  }
  nav ul li a{
    color: yellow;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
  }
  nav ul li a:hover{
    background-color: yellow;
    color: black;
  }
  a {
    font-size: 25px;
    font-family: "Permanent Marker", cursive;
    color: rgb(209, 209, 4);
    background-color: rgba(0, 0, 0, 0.836);
  }
  section{
    color: white;
    margin: auto ;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.774);
  }














  .facebook {
    margin-left: 230px;
    display: inline;
    padding: 5px;
  }
  .IG {
    display: inline;
    margin-left: 300px;
    padding: 5px;
  }

  #footer {
    background-color: black;
    color: yellow;
    font-family: "Permanent Marker", cursive;
   
  }
  footer{
    
    margin: 0 0 0 25px;
    width: 95%;
    text-align: center;
  }
  footer p {
    text-align: right;
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  

  