body{
  background-image: url(/img/fitito.jpg);
  background-repeat: repeat-y;
  margin: 5px;
    
}

  
  header{
    
    padding:0;
  }
  header img{
    margin: 0; 
    box-shadow: 0 0 20px white;
  }
  header h1{
    color: white;
    background-color: black;
    font-size: 3em;
    font-style: italic;
    font-weight: 200;
    display: inline-block;
    
    
    margin-left: 0.5em;
    font-family: "Tourney", cursive;
  }
  header h1:hover{
    transform: transform 0.3s;
    color: red;
    text-shadow: 5px 5px 10px white ;
  
  }
  
nav{
  background-color: black;
  
  box-shadow: 10px 5px 15px gray;
  margin: auto;
  width: 99%;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 10px;
  
}
nav ul li{
  
  width: 19.5%;
  

}
nav ul li a{
  color: yellow;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 20px;

}
nav ul li a:hover{
  background-color: yellow;
  color: black;
}
  
  a {
    font-size: 10px;
    font-family: "Permanent Marker", cursive;
    color: rgb(209, 209, 4);
    background-color: rgba(0, 0, 0, 0.836);
  }
section{
    margin: auto;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.70);
}
section h3{
    font-family: "Permanent Marker", cursive;
    color: yellow;  
    margin-top: 15px;
   
}
.carrusel{
    padding: auto;
    margin: auto;
    width: 50%;
    justify-content: center;
    border: solid green;
 
}
.carousel-item img{
    
    border: solid white;
    margin: auto;
}
.carousel-caption h5 {
    color:white;  
    font-family: "Permanent Marker", cursive; 
    background-color:black;
    width: auto;
}

.facebook {
    margin-left: 230px;
    display: inline;
    padding: 5px;
  }
  .IG {
    display: inline;
    margin-left: 300px;
    padding: 5px;
  }
  footer{
  
    margin-top: 2em;
    padding: 3em 0;
    text-align: center;
    background-color: black;
    clear: both;
  }
  footer p {
    color: white ;
   
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }