body{
    background-image: url(/img/fitito.jpg);
    background-repeat: repeat-y;
    margin: 0px;
}
.logo{
    position: fixed;
    top:10px;
    left: 550px;
    margin-bottom: 50px;
}

.navegador{
	display: flex;
    justify-content: space-evenly; 
    
}

.boton{
	
	height: 50px;
	font-size: 20px;
    text-align: center;
}

a{
    
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(209, 209, 4);
    background-color: rgba(0, 0, 0, 0.836);
}

h1{
    background-color: lightgrey;
    color: black;
    border-color: yellow;
    border-width: 10px;
    opacity: 80%;
    margin-top: 170px;
    font-style:unset;
    font-size: 50px;
    font-weight: 200;   
    text-align: center;
    /*font-family: 'Indie Flower', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Permanent Marker', cursive;*/
    font-family: 'Tourney', cursive;
}

h4{
    background-color: rgba(211, 211, 211, 0.815);
    font-size: 25px;
    color: royalblue;
    font-family: 'Rock Salt';
    text-align: center;
}
p{
    background-color: lightgrey;
    color:black;
    font-family: 'Rock Salt', cursive;
    text-align: justify;
    font-style: oblique;
    font-size: 20px;
    opacity: 0.8;
    margin: 10px;
}

#servicios{
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    color: black;
    font-size: 20px;
    background-color: lightgrey;
    opacity: 0.8;
   
}