body{
    background-image: url(img/fitito.jpg);
    background-repeat: repeat-y;
    margin: 0px; 
 
}
.logo{
    position: static;
    top: 10px;
    margin-left: 560px;
    margin-right: 525px;
    
}
h1{ 
    font: normal 1.5em 'Tourney';
    background: -webkit-linear-gradient(top,rgb(237, 241, 174), rgb(139, 141, 1));
    width: 35%;
    border-radius: 10px;
    margin:10px auto;
    text-align: center;
    padding: 15px;
    color:black;
    box-shadow: darkgray 5px 5px 10px;
    text-shadow: black ;


}
h2{
    font: normal 1.2em 'Tourney';
    margin: 0;
    padding: 5px 0 5px 0;
}
section{
    width: 91%;
    border-top: 1px dashed yellow;
    margin: 5px auto;
}
.contenedor{
	background-color: rgba(255, 255, 0, 0.801);
	height: fit-content;
	display: inline-flex;
	flex-wrap: wrap;
    border-style: hidden;
    justify-content: space-evenly;
    margin-bottom: 100px;
    width: 80%;
    margin-left: 100px;
}


.item{
	background-color: rgb(182, 29, 29);
	width: fit-content;
    height: 200px;
	margin: 10px;
	font-size: 20px;
    border-radius: 10px;
    
}
.item img{
    -webkit-transition: -webkit-transform 0.3s ;
    transform: scale(0.80);
}
.item img:hover{
    -webkit-transform: scale(1.1);
    border-radius: 20px;

}

video{
    background-color: rgb(182, 29, 29);
	width: 300px;
    height: 300px;
	margin: 10px;
	font-size: 20px;
    border-radius: 10px; 
    transform: scale(0.80);
}
